body {
    font-family: Parkinsans, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background-color: #89A8B2;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    background-color: #E5E1DA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; 
    max-width: 400px;
    margin-bottom: 60px;
}

h1 {
    text-align: center;
    color: #89A8B2;
    margin-bottom: 20px;
}

.now-playing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

#pet-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

.song-info h2 {
    margin: 0;
    font-size: 1.2em;
    color: #E8BCB9;
}

.song-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #E8BCB9;
    opacity: 0.8;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #E8BCB9;
}

#seek-slider {
    flex-grow: 1;
    margin: 0 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #E8BCB9;
    border-radius: 2px;
}

#seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #E8BCB9;
    border-radius: 50%;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #89A8B2;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #922C5D;
}

.volume-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #E8BCB9;
}

#volume-slider {
    flex-grow: 1;
    margin-left: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #E8BCB9;
    border-radius: 2px;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #E8BCB9;
    border-radius: 50%;
    cursor: pointer;
}

.playlist {
    margin-top: 20px;
    height: 150px;
    overflow-y: auto;
}

.playlist::-webkit-scrollbar {
    width: 5px;
}

.playlist::-webkit-scrollbar-track {
    background: #1d1019;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb {
    background: linear-gradient(#922C5D,#A64D79);
    border-radius: 10px;
}

h3 {
    color: #E8BCB9;
    margin-bottom: 10px;
}

#playlist-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#playlist-items li {
    padding: 10px;
    background-color: #A64D79;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #E8BCB9;
}

#playlist-items li:not(:first-child) {
    background-color: #E8BCB9;
    color: #3B1C32;
}

#playlist-items li:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        max-width: 300px;
    }
    h1 {
        font-size: 1.5em;
    }
    #pet-image {
        max-width: 150px;
    }
    .song-info h2 {
        font-size: 1em;
    }
    .song-info p {
        font-size: 0.8em;
    }
    .controls {
        margin-bottom: 15px;
    }
    button {
        width: 100%;
        margin-bottom: 10px;
    }

    #playlist-items li {
        padding: 8px;
        font-size: 0.9em;
    }

    .playlist {
        height: 120px;
    }
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%; 
    position: fixed; 
    bottom: 0;
    left: 0;
    background-color: rgba(137, 168, 178, 0.8);
    z-index: 10;
}

footer hr {
    border: 0;
    height: 1px; 
    background-color: white; 
    opacity: 0.5; 
    margin: 10px 0; 
}
